body {
    font-family: arial;
    background: #f4f0e8;
    color: #5A5042;
}
.data-types, .functions, .scopes, .variables, .objects, .arrays {
    border: 1px outset black;
    border-radius: 12px;
    padding: 10px;
    margin: 5px;
    background: #f3dfc1;
    line-height: 1.4rem;
}
header h1 {
    font-size: 50px;
    text-align: center;
    background: #767069;
    color: #fff;
    border-radius: 12px;
    font-style: italic;
}
.content {
    display: flex;
}
.content h2 {
    text-align: center;
}
.functions, .scopes {
    width: 50%;
}
figure > img {
    width: 100%;
    border-radius: 12px;
}
.variables ol li span {
    color: red;
}
.variables, .data-types {
    width: 50%;
}
.objects, .arrays {
    width: 50%;
}
code {
    color: blue;
}