body {
    font-family: arial;
    background: #f4f0e8;
    color: #5A5042;
}

.data-types, .functions, .scopes, .variables, .objects, .arrays, .statements, .htmlDom {
    border: 1px outset black;
    border-radius: 12px;    
    padding: 10px;
    margin: 5px;
    background: #f3dfc1;
    line-height: 1.4rem;
}

header h1 {
    font-size: 50px;
    text-align: center;
    background: #767069;
    color: #fff;
    border-radius: 12px;
    font-style: italic;
}

.content {
    display: flex;
}

.content h2 {
    text-align: center;
}

.functions, .scopes {
    width: 50%;
}

code {
    font-size: 1rem;
}

figure > img {
    width: 100%;
    border-radius: 12px;
}

.variables ol li span {
    color: red;
}

.variables, .data-types {
    width: 50%;
}

.objects {
    width: 50%;
}
.arrays {
    width: 100%;
}

.htmlDom {
    width: 100%;
    padding: 20px;
}

code {
    color: blue;
}

details {
    background-color: #2196F3;
    color: #fff;
    border-radius: 12px;
    padding: 2%;
}

/* Animation for the DETAILS tag */
  details[open] summary ~ * {
    animation: open .5s ease-in-out;
  }
  details[close] summary ~ * {
    animation: close .5s ease-in-out;
  }

  @keyframes open {
    0% {opacity: 0; margin-left: -20px}
    100% {opacity: 1; margin-left: 0px}
  }
  @keyframes close {
    0% {opacity: 1; margin-left: 0px}
    100% {opacity: 0; margin-left: -20px}
  }

.arrays h3, h4 {
    text-align: center;
}

.arrays ol {
    line-height: 2em;
}
.objects .objects1 {
    padding: 20px;
}

.statements {
    width: 100%;
}
.statements .part1 {
    padding: 20px;
}
.statements .part3 {
    padding: 20px;
}
.statements h2 ul li {
    list-style-type: none;
}

.statements table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid grey;
    background-color: #4b4740;
    color:white;
}

.statements table {
    border: 1px solid grey;
    border-radius: 12px;
    overflow: hidden;
}
.statements table th, td {
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #F3F0E8;
    color: #000;
}

.htmlDom a {
    font-style: italic; 
    color: brown; 
    border: 2px solid black; 
    border-radius: 12px;
    background-color: antiquewhite;
    padding: 5px;
    text-decoration: none;
}

.htmlDom a:hover {
    background-color: #2196F3;
    color: white;
}