*{
     margin: 10px 10px;
     line-height: 1.5em;
}

h1 {
     font-family: monospace;
     text-align: center;
}

p {
     font-family: serif;
}

nav {
     margin:10px 0 90px 0;
     display: flex;
     align-items: baseline;
     flex-direction: row;
     justify-content: space-between;
}
     nav ul li {
     list-style-type: none;
     }
     nav ul li a {
     text-decoration: none;
     text-transform: none;
     color: black;
     }

.first-nav ul li, .second-nav ul li  {
     float: left;
     border: 1px solid grey;
     border-radius: 12px;
}
     .first-nav {
          border-right: 1px black solid;
          border-top: 3px black solid;
          padding: 5px;
          border-radius: 12px;
     }
     .second-nav {
          border-top: 3px black solid;
          border-right: 1px black solid;
          border-radius: 12px;
          padding: 5px;
     }
     .first-nav ul li:hover, .second-nav ul li:hover {
          background-color: rgb(226, 235, 250);
     }

.wrapper {
     display: flex;
     flex-direction: row;
}
     .main-content1, .main-content2,.main-content3, .main-content4 {
          border-left: 1px solid;
          border-bottom: 1px solid;
          border-top: 1px solid;
          border-radius: 12px;
          padding: 10px;
     }

#separate {
     border: 1px red solid;
     border-radius: 12px;
     padding: 5px;
     line-height: 3em;
}

#code-block {
     color:red;
     font-style: oblique;
}